.toBox-section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadce0;
  height: 80px;
  margin-left: 10rem;
  margin-right: 10rem;
}